
<!DOCTYPE HTML>
<html lang="zh-cn">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>html5培训</title>
    <link href="/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/css/llk.css" rel="stylesheet">

    <script src="/js/utils/encrypt.js"></script>
    <script src="/js/network/service.js"></script>
    <script src="/js/network/session.js"></script>

    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/llk.js"></script>
  </head>
  <body>
    <h1>This is a Hello World start!~</h1>
    <form id="form">
      <input type="button" value="Start!" onclick="start()"/>
    </form>
    <div id="planet">

    </div>
    <!--
    <canvas width="600" height="200" id="myCanvas">
      <p>your browser is not supporded!~</p>
    </canvas>
    -->
    <br/>
  </body>
</html>
