
<!DOCTYPE HTML>
<html lang="zh-cn">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>微信新功能</title>
    <link href="/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/css/main.css" rel="stylesheet">

    <script src="/js/utils/encrypt.js"></script>
    <script src="/js/network/service.js"></script>
    <script src="/js/network/session.js"></script>

    <script src="/js/jquery-1.11.3.min.js"></script>
  </head>
  <body>
    <div class='top-bar'>
      <img src="/images/no_task@2x.png">
    </div>
    <div class='main-body'>
      <div class='left-bar'>
        <ul>
          <li>name1</li>
          <li>name2</li>
          <li>name3</li>
        </ul>
      </div>
      <div class='center-body'>
        hello world
      </div>
    </div>
    <script>
      var client = new WebSocket("wss://127.0.0.1:8080/duplex/websocket");
      client.onopen = function(event) {
        console.log("open...");
        client.send(JSON.stringify({"token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJuYmYiOjE0NTIwNDcyMzMsInVzZXJ2ZXJpZnkiOiIiLCJ0aW1lIjoxNDUyMDQ3MjM4MzAzLCJ0b2tlbnNlY3JldCI6InRva2VuX3NlY3JldCIsImV4cCI6MzA4MjM0NTM1MCwidXNlcmlkIjoiMjg5IiwiaWF0IjoxNDUyMDQ3MjM4LCJqdGkiOiI1NTZjYTkxZS1mN2RkLTQzOTItODllYi0zMTNlM2RmMjU3ZGIifQ.g28zAD5WI5gMv3ikehN_AuP6UpSjN_HZlW1H9S65YFs"}));
      }
      client.onclose = function(event) {
        console.log("close...");
      }
      client.onmessage = function(event){
        console.log(event.data);
      }
    </script>

  </body>
</html>
