
<!DOCTYPE HTML>
<html lang="zh-cn">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>微信新功能</title>
    <link href="/css/main.css" rel="stylesheet">

    <script src="/js/utils/encrypt.js"></script>
    <script src="/js/network/service.js"></script>
    <script src="/js/network/session.js"></script>

    <script src="/js/jquery-1.11.3.min.js"></script>
  </head>
  <body>
    <div class='top-bar'>
      <img src="/images/no_task@2x.png"></img>
    </div>
    <div class='main-body'>
      <div class='left-bar'>
        <ul>
          <li>name1</li>
          <li>name2</li>
          <li>name3</li>
        </ul>
      </div>
      <div class='center-body'>
        hello world
      </div>
    </div>

  </body>
</html>
