
<!DOCTYPE HTML>
<html lang="zh-cn">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>微信新功能</title>
    <link href="/css/no_task.css" rel="stylesheet">

    <script src="/js/jquery-1.11.3.min.js"></script>
  </head>
  <body>
    <div id="dialog" class="">
      <div class="dialog-head">无日期</div>
      <hr>
      <div class="dialog-body">明天下下午，f1202，开会！~</div>
    </div>
    <div class='contain-body'>
      <div class='contain-center'>
        <img id="noTaskIcon" src="/images/no_task@2x.png"/>
        <div class="noTaskText">暂时没有任务</div>
        <div class="noTaskText">快去新建个任务吧</div>
        <a id="newTask">新建任务</a>
      </div>
    </div>
    <div class='contain-bottom'>
      <a id="downloadLighting">下载轻醒完整版</a>
    </div>
    <script>
      $("#newTask").click(function(e){
        //window.location.href = "/weixin/wx-task/new.html";
        $("#dialog").fadeIn();
        if(e.stopPropagation){
          e.stopPropagation();
        }
      });
      $("span#downloadLighting").click(function(e){
        window.location.href = "/app/detail.html";
      });
      $(document).click(function(e){
        if(!($(e.target).is("#dialog") ||
                $(e.target).parents("#dialog").length > 0)){
          $("#dialog").fadeOut();
        }
      });
    </script>
  </body>
</html>
